body {
  font-family: Verdana, sans-serif;
  background: white;
}

li {
display: inline;
}

#navbar {
display: flex;
justify-content: space-around;
}

#navbar a {
padding: 10px 30px; 
color: dimgray;
text-decoration: none; 
cursor: pointer; 
}

header {
position: fixed; /* nav-bar should always be at the top of the viewport */
width: 100%;
top: 0;
left: 0;
background-color: white;
}

#navbar a:hover {
color: black;
}

#calculator {
  background: #6e8ec9;
  padding-bottom: 40px;
  min-height: 720px;
}

.pg2-buttons {
  margin: 10px 0 0 0;
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 70%;
}

.button-next {
  border-radius: 5px;
  background-color: royalblue;
  border-color: grey;
  width: 200px;
  height: 40px;
  font-family: Verdana;
  font-size: 20px;
color: white;
}

.button-next-2 {
  border-radius: 5px;
  background-color: white;
  border-color: grey;
  width: 200px;
  height: 40px;
  font-family: Verdana;
  font-size: 20px;
  color: black;
}

.pg2-buttons:focus {
background: dodgerblue;
border-color: white;
color: white;
}

.radio-form-item-1 {
text-align: center;
padding-top: 40px;
}

.radio-form-item-2 {
text-align: center;
padding-top: 20px;
}

.options {
padding-bottom: 15px;
text-align: center;
}

.details {
display: block;
font-weight: bold;
font-size: 20px;
}

.sub-details {
font-size: 16px;
left: 0;
}

.page-title {
  text-align: center;
  color: white;
  padding-top: 80px;
  font-size: 50px;
}

.page-subtitle {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
}

.second-page-form {
  margin: auto;
  background-color: #d2e2fb;
  border-radius: 10px;
  width: 720px;
  padding: 20px;
}

h6 {
  font-size: large;
  text-align: center;
}


.label {
  display: block;
  margin: 0.5rem 0;
}

input {
  width: 100%;
  min-height: 5em;
}

#height {
color: red;
}