body {
  font-family: Verdana, sans-serif;
  background: white;
}

li {
display: inline;
}

#navbar {
display: flex;
justify-content: space-around;
}

#navbar a {
padding: 10px 30px; 
color: dimgray;
text-decoration: none; 
cursor: pointer; 
}

header {
position: fixed; /* nav-bar should always be at the top of the viewport */
width: 100%;
top: 0;
left: 0;
background-color: white;
}

#navbar a:hover {
color: black;
}

#calculator {
  background: #6e8ec9;
  padding-bottom: 40px;
  min-height: 720px;
}

.output1 {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.results {
padding-top: 10px;
text-align: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background: lemonchiffon;
width: 400px;
height: 200px;
}

.results0 {
padding-top: 10px;
text-align: center;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background: pink;
width: 400px;
height: 200px;
}

.page-title {
  text-align: center;
  color: white;
  padding-top: 80px;
  font-size: 50px;
}

.page-subtitle {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
}

.third-page-form {
  margin: auto;
  background-color: #d2e2fb;
  border-radius: 10px;
  width: 720px;
  height: 600px;
  padding: 20px;
}

h6 {
  font-size: large;
  text-align: center;
}


.label {
  display: block;
  margin: 0.5rem 0;
}

input {
  width: 100%;
  min-height: 5em;
}

#height {
color: red;
}